[include]
  path = ~/.gitconfig.local

[user]
  signingkey = 4BF4CA68061F8FB8

[core]
  editor = nvim
  precomposeUnicode = true
  quotePath = false
  pager = delta

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[interactive]
  diffFilter = delta --color-only

[push]
  default = simple

[url "git@github.com:"]
  pushInsteadOf = https://github.com/

[commit]
  template = ~/.commit_template
  gpgsign = true

[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = "OneHalfDark"
  navigate = true
  line-numbers = true
  side-by-side = true

[alias]
  aliases = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  i = init
  r = remote -v
  a = add
  au = add -u
  aa = add -A
  cm = commit
  cmm = commit -m
  can = commit --amend --no-edit
  pushf = push --force-with-lease
  pom = push origin main
  pod = push origin develop
  plr = pull --rebase
  s = status -s
  st = status
  sh = show
  d = diff
  dc = diff --cached
  dw = diff -w
  dn = diff --name-only
  dww = diff --word-diff
  d1 = diff HEAD~
  d2 = diff HEAD~2
  d3 = diff HEAD~3
  b = branch
  bv = branch -vv
  bva = branch -vva
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  sp = stash pop
  ss = stash save
  ssu = stash save -u
  sl = stash list
  f = fetch
  fp = fetch --prune
  rb = rebase
  rbi = rebase -i
  l = log --graph --pretty=format:'%C(yellow)%h%Creset %C(white bold)[%ad]%Creset %s %C(white dim)ー %an%Creset%C(auto)%d%Creset' --date=format-local:'%Y-%m-%d %H:%M'
  ll = log -p --stat --abbrev-commit --decorate --topo-order
  la = log --oneline --decorate --graph --branches --tags --remotes --all
  list = log --pretty=format:\"<%h> %ad [%an] %C(green)%d%Creset %s\" --date=short
  loglr = log --left-right -p
  conflictlr = log --merge --left-right -p
  unstage = reset HEAD
  delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|main|master|develop|release|gh-pages'|xargs git branch -d; };f"

